<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>三员管理页面</title>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bootstrap-select-1.12.4/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="dataTables-1.10.15/css/dataTables.bootstrap.min.css">
  <style>
    body {
      background: #F2F2F2;
    }

    #header {
      height: 80px;
      background: #273238;
      color: #fff;
      padding: 10px 20px 0 20px;
    }

    #header {
      height: 60px;
      background: #273238;
      color: #fff;
      padding: 12px;
    }

    #header a {
      color: #fff;
    }

    #header .pull-right {
      margin-top: 10px;
    }

    #section {
      margin: 20px;
      padding: 20px;
      background: #fff;
      border-radius: 3px;
      border-top: 3px solid #3c8dbc;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    #nav-tab .add_user_btn {
      float: right;
    }

    .tab-content {
      margin-top: 20px;
    }

    #nav-tab {
      list-style: none;
      padding-left: 0;
    }

    #nav-tab li {
      list-style: none;
      background: #fafafb;
      border: 1px solid #e7eaec;
      margin: 0 0 10px;
      padding: 10px;
      cursor: pointer;
    }

    #nav-tab .active {
      list-style: none;
      border-left: 3px solid #1c84c6;
    }

    .ibox-title {
      background-color: #fff;
      border: 1px solid #e7eaec;
      border-top: 2px solid #e7eaec;
      border-bottom: none;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }

    .ibox-content {
      clear: both;
      background-color: #fff;
      color: inherit;
      padding: 15px 20px 20px;
      border: 1px solid #e7eaec;
    }

    #section .ibox-content {
      height: 640px;
    }

    #section h3 {
      margin: 2px;
      font-weight: 600;
    }

    #dataTable_length {
      display: none;
    }
  </style>
</head>
<body>
<div id="app">
  <header id="header">
    <div class="pull-left" style="margin-top: 10px;">
      <span>vue 三员管理页面</span>
    </div>
    <div class="pull-right">
      <span><i class="fa fa-user fa-lg"></i> {{ role_count_dict[user_info][0] }}/{{ user_info }}</span>
      &nbsp;&nbsp;<a href="#">退出</a>
    </div>
  </header>
  <section id="section">
    <div class="row">
      <div class="col-md-2" v-if="user_info==='admin'">
        <div class="ibox">
          <div class="ibox-title">
            <h3>角色</h3>
          </div>
          <div class="ibox-content">
            <ul id="nav-tab">
              <li v-for="(key, value, index) in role_count_dict" @click="switch_user(value,index)"
                  :class="{active:role_active==index}">
                <i class="fa fa-users"></i>
                {{key[0]}}
                <span class="pull-right">{{key[1]}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-10" v-if="user_info==='admin'">
        <div class="ibox">
          <div class="ibox-title">
            <button class="btn btn-sm btn-primary" @click="user_model_switch()">
              <i class="fa fa-plus"></i><i class="fa fa-user"></i> 新建
            </button>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-4 hide" v-bind:class="show_user_model">
                <div class="panel panel-primary">
                  <div v-show="user_model_change" class="panel-heading">新建用户</div>
                  <div v-show="!user_model_change" class="panel-heading">{{ role }}/{{ name }}</div>
                  <div class="panel-body form-horizontal">
                    <div class="form-group" v-show="user_model_change">
                      <label class="col-md-3 control-label">用户</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" placeholder="输入用于登录的用户名" v-model="user_name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">密码</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" placeholder="输入新密码" v-model="user_password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">角色</label>
                      <div class="col-md-9">
                        <select class="selectpicker" data-width="fit" v-model="selected">
                          <option v-for="(key,value) in role_count_dict" v-if="key!='全部'" v-bind:value="value">
                            {{key[0]}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <label class="col-md-3 control-label">备注</label>
                      <div class="col-md-9">
                        <textarea class="form-control" placeholder="在这里添加备注" v-model="remarks"></textarea>
                      </div>
                    </div>
                    <hr>
                    <div class="form-group">
                      <label class="col-md-3 control-label">姓名</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" v-model="name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">部门</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" v-model="department">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">Email</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" v-model="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">手机</label>
                      <div class="col-md-9">
                        <input class="form-control" type="text" v-model="phone_number">
                      </div>
                    </div>
                    <hr>
                    <div v-show="user_model_change" class="pull-left">
                      <div class="text-danger">{{ add_user_hint }}</div>
                      <button class="btn btn-sm btn-info" @click="submit_user_info()">
                        <i class="fa fa-save fa-lg"></i>
                        建立
                      </button>
                    </div>
                    <div v-show="!user_model_change" class="pull-left">
                      <div class="text-danger"></div>
                      <button class="btn btn-sm btn-primary" @click="submit_user_info('set')">
                        <i class="fa fa-save fa-lg"></i>
                        保存
                      </button>
                      <button class="btn btn-sm btn-danger" @click="delete_user()">
                        <i class="fa fa-trash-o fa-lg"></i>
                        删除
                      </button>
                    </div>
                    <div class="pull-left">
                      <button class="btn btn-sm btn-warning" style="margin-left: 3px" @click="user_model_switch()">
                        <i class="fa fa-times fa-lg"></i>
                        关闭
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div v-bind:class="class_name">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>姓名</th>
                    <th>账号</th>
                    <th>角色</th>
                    <th>部门</th>
                    <th>Email</th>
                    <th>手机</th>
                    <th>备注</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(user,index) in page_data" @click="set_user(user)" style="cursor: pointer;">
                    <td>{{user.name}}</td>
                    <td>{{user.user_name}}</td>
                    <td>{{role_count_dict[user.role][0]}}</td>
                    <td>{{user.department}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_number}}</td>
                    <td>{{user.remarks}}</td>
                  </tr>
                  </tbody>
                </table>
                <div v-if="my_data.length>10">
                  <ul class="pagination">
                    <li :class="{disabled:page_active==1}">
                      <a href="#" @click="previous()">上一页</a>
                    </li>
                    <li v-for="index in page_count" :class="{active:page_active==index}">
                      <a href="#" @click="set_page_data(index)">{{index}}</a>
                    </li>
                    <li :class="{disabled:page_active==page_count}">
                      <a href="#" @click="next()">下一页</a>
                    </li>
                    <!--<li :class="{disabled:page_active==1}">-->
                    <!--<a href="#" @click="previous()">上一页</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_active==5" :class="{active:page_active==1}">-->
                    <!--<a href="#" @click="page(body,1)">1</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_active==5" class="disabled">-->
                    <!--<a href="#" @click="previous()">...</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_count>5 && page_active!=5" v-for="n in 5" :class="{active:page_active==n}">-->
                    <!--<a href="#" @click="page(body,n)">{{n}}</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_active==5" :class="{active:page_active==5}">-->
                    <!--<a href="#" @click="page(body,page_active++)">5</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_active==5" :class="{active:page_active==5+1}">-->
                    <!--<a href="#" @click="page(body,page_active++)">5+1</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_count>5" class="disabled">-->
                    <!--<a href="#" @click="previous()">...</a>-->
                    <!--</li>-->
                    <!--<li v-if="page_count>5" :class="{active:page_active==page_count}">-->
                    <!--<a href="#" @click="page(body,page_count)">{{page_count}}</a>-->
                    <!--</li>-->
                    <!--<li :class="{disabled:page_active==page_count}">-->
                    <!--<a href="#" @click="next()">下一页</a>-->
                    <!--</li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" v-if="user_info==='auditor'">
        <div class="ibox">
          <div class="ibox-title">
            <h3>操作日志</h3>
          </div>
          <div class="ibox-content">
            <table id="dataTable" class="table table-hover table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>姓名</th>
                <th>账号</th>
                <th>角色</th>
                <th>部门</th>
                <th>Email</th>
                <th>手机</th>
                <th>备注</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="dataTables-1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="dataTables-1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      user_info: 'admin',
      my_data: [],
      page_data: [],
      role_count_dict: {
        'all': ['全部', 0],
        'admin': ['管理员', 0],
        'auditor': ['审计员', 0],
        'operator': ['操作员', 0]
      },
      ajax_data: [
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        },
        {
          user_name: 'lisi',
          name: '李四',
          department: '销售',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是销售',
          role: 'operator'
        },
        {
          user_name: 'zhangsan',
          name: '张三',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'chener',
          name: '陈二',
          department: '网研',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是研发',
          role: 'admin'
        },
        {
          user_name: 'wangwu',
          name: '王五',
          department: '客服',
          email: '789456@gmail.com',
          phone_number: '123456789',
          remarks: '我是客服',
          role: 'auditor'
        }

      ],

      page_active: 1,
      page_count: 0,
      role_active: 0,

      show_user_model: 'hide',
      user_model_change: true,
      class_name: 'col-md-12',

      user_name: '',
      user_password: '',
      remarks: '',
      name: '',
      department: '',
      email: '',
      phone_number: '',
      role: '',
      selected: 'operator',
      add_user_hint: ''
    },
    created: function () {
      this.my_data = this.ajax_data
      this.page_count = Math.ceil(this.my_data.length / 10)
      this.set_page_data()
      this.user_count(this.my_data)
      var data_table = this.my_data
      $(document).ready(function () {
        $('#dataTable').DataTable({
          "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "search": "搜索:",
            "paginate": {
              "next": "下一页",
              "previous": "上一页"
            }
          },
          order: [3, "desc"],
          iDisplayLength: 10,
          data: data_table,
          columns: [
            {data: 'name'},
            {data: 'user_name'},
            {data: 'role'},
            {data: 'department'},
            {data: 'email'},
            {data: 'phone_number'},
            {data: 'remarks'}
          ]
        });
      });
    },
    methods: {
      previous: function () {
        if (this.page_active > 1) {
          this.page_active--
        }
        this.set_page_data()
      },
      next: function () {
        if (this.page_active < this.page_count) {
          this.page_active++
        }
        this.set_page_data()
      },
      set_page_data: function (number) {
        if (number) {
          this.page_active = number;
        }
        var min = this.page_active * 10 - 10
        var max = this.page_active * 10
        this.page_data = []
        for (var i = min; i < this.my_data.length; i++) {
          if (i < max) {
            this.page_data.push(this.my_data[i])
          }
        }
      },
      user_count: function (data) {
        var admin = [], auditor = [], operator = []
        for (var i = 0; i < data.length; i++) {
          if (data[i].role === 'admin') {
            admin.push(i)
          } else if (data[i].role === 'auditor') {
            auditor.push(i)
          } else {
            operator.push(i)
          }
        }
        this.role_count_dict.all[1] = this.my_data.length
        this.role_count_dict.admin[1] = admin.length
        this.role_count_dict.auditor[1] = auditor.length
        this.role_count_dict.operator[1] = operator.length
      },
      submit_user_info: function (data) {
        if (data == 'set') {
          var obj = {
            user_name: this.user_name,
            user_password: this.user_password,
            name: this.name,
            email: this.email,
            phone_number: this.phone_number,
            remarks: this.remarks,
            department: this.department,
            role: this.selected
          }
          this.my_data.push(obj)
          this.user_model_switch()
        } else {
          if (this.user_name == '') {
            this.add_user_hint = '用户名不能为空'
            return false
          } else if (this.user_password == '') {
            this.add_user_hint = '密码不能为空'
            return false
          } else if (this.name == '') {
            this.add_user_hint = '姓名不能为空'
            return false
          } else {
            var obj = {
              user_name: this.user_name,
              user_password: this.user_password,
              name: this.name,
              email: this.email,
              phone_number: this.phone_number,
              remarks: this.remarks,
              department: this.department,
              role: this.selected
            }
//            this.my_data.push(obj)
//            this.count(this.my_data)
            this.user_model_switch()
          }
        }
      },
      selectpicker_reset: function () {
        this.$nextTick(function () {
          $('.selectpicker').selectpicker('refresh');
        })
      },
      delete_user: function () {
        var name = this.user_name
        var role = this.role
//        for (var i = 0; i < this.my_data.length; i++) {
//          if (this.my_data[i].user_name == name) {
//            this.my_data.splice(i, 1)
//            this.role_count_dict[role][1] = this.my_data.length
//            this.user_model_switch()
//          }
//        }
      },
      set_user: function (user) {
        this.user_model_change = false
        this.show_user_model = 'show pull-right'
        this.class_name = 'col-md-8'
        this.user_name = user.user_name
        this.remarks = user.remarks
        this.name = user.name
        this.phone_number = user.phone_number
        this.selected = user.role
        this.email = user.email
        this.role = user.role
        this.department = user.department
        this.selectpicker_reset()
      },
      user_model_switch: function () {
        this.user_model_change = true
        this.user_name = ''
        this.user_password = ''
        this.remarks = ''
        this.name = ''
        this.department = ''
        this.email = ''
        this.phone_number = ''
        this.add_user_hint = ''
        if (this.show_user_model == 'show' || this.show_user_model == 'show pull-right') {
          this.show_user_model = 'hide'
          this.class_name = 'col-md-12'
        } else {
          this.show_user_model = 'show'
          this.class_name = 'col-md-8'
        }
      },
      switch_user: function (user_info, index) {
        this.my_data = []
        this.role_active = index
        this.selected = user_info
        if (user_info == 'all') {
          this.selected = 'operator'
          this.my_data = this.ajax_data
        }
        for (var i = 0; i < this.ajax_data.length; i++) {
          if (this.ajax_data[i].role == user_info) {
            this.my_data.push(this.ajax_data[i])
          }
        }
        this.page_active = 1
        this.page_count = 0
        this[user_info] = this.my_data.length
        this.page_count = Math.ceil(this.my_data.length / 10)
        this.set_page_data()
        this.selectpicker_reset()
      }
    }
  })
</script>
</body>
</html>